# ===========================
# Java
# ===========================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log

# ===========================
# IntelliJ IDEA
# ===========================
.idea/
*.iml
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries

# ===========================
# Build folders
# ===========================
/out/
/build/
/target/
/bin/

# ===========================
# Maven
# ===========================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ===========================
# Gradle
# ===========================
/.gradle/
/build/
/gradle-wrapper.jar
.gradle-cache/
.gradle-*.lock

# ===========================
# OS-specific
# ===========================
.DS_Store
Thumbs.db
