spring:
  application:
    name: "udemy.spring.security"

  server:
    port: 8080

  datasource:
    url: jdbc:postgresql://localhost:5432/security_bank
    username: admin
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

logging:
  level:
    root: INFO
